@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 45px;
  color: hsl(0deg, 0%, 1%);
}

h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  color: hsl(0deg, 0%, 1%);
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: hsl(0deg, 0%, 1%);
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: hsl(30deg, 5%, 45%);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 44px;
    line-height: 55px;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
  p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media screen and (min-width: 1440px) {
  h1 {
    font-size: 56px;
    line-height: 71px;
  }
  h2 {
    font-size: 40px;
    line-height: 50px;
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: hsl(28deg, 100%, 97%);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 555px;
  padding: 14px 45px;
}
button a {
  color: hsl(28deg, 100%, 97%);
}

header, .sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
header svg, .sub-footer svg {
  transform: scale(0.75);
}
header svg path, .sub-footer svg path {
  fill: hsl(0deg, 0%, 1%);
}
header svg path:hover, .sub-footer svg path:hover {
  cursor: pointer;
  -webkit-animation: color-change 5s infinite;
          animation: color-change 5s infinite;
}
@-webkit-keyframes color-change {
  0% {
    fill: hsl(252deg, 66%, 62%);
  }
  20% {
    fill: hsl(28deg, 89%, 67%);
  }
  40% {
    fill: hsl(0deg, 78%, 79%);
  }
  60% {
    fill: hsl(7deg, 77%, 66%);
  }
  80% {
    fill: hsl(172deg, 46%, 57%);
  }
  100% {
    fill: hsl(252deg, 66%, 62%);
  }
}
@keyframes color-change {
  0% {
    fill: hsl(252deg, 66%, 62%);
  }
  20% {
    fill: hsl(28deg, 89%, 67%);
  }
  40% {
    fill: hsl(0deg, 78%, 79%);
  }
  60% {
    fill: hsl(7deg, 77%, 66%);
  }
  80% {
    fill: hsl(172deg, 46%, 57%);
  }
  100% {
    fill: hsl(252deg, 66%, 62%);
  }
}
header button, .sub-footer button {
  background-color: hsl(0deg, 0%, 1%);
}
header button:hover, .sub-footer button:hover {
  background-color: hsl(252deg, 66%, 62%);
}

#hero {
  text-align: center;
  padding: 16px;
}
#hero h1 {
  margin-bottom: 16px;
}
#hero p {
  padding: 0 29px;
}

#section-grid {
  display: grid;
  grid-template-rows: repeat(6, 182px);
  gap: 24px;
  grid-template-areas: "un un" "un un" "deux trois" "quatre quatre" "cinq cinq" "six six";
  padding: 16px;
}
#section-grid > :nth-child(1) {
  grid-area: un;
  background-color: hsl(252deg, 66%, 62%);
}
#section-grid > :nth-child(2) {
  grid-area: deux;
  background-color: hsl(28deg, 89%, 67%);
}
#section-grid > :nth-child(3) {
  grid-area: trois;
  background-color: hsl(0deg, 78%, 79%);
}
#section-grid > :nth-child(4) {
  grid-area: quatre;
  background-color: hsl(7deg, 77%, 66%);
}
#section-grid > :nth-child(5) {
  grid-area: cinq;
  background-color: hsl(172deg, 46%, 57%);
}
#section-grid > :nth-child(6) {
  grid-area: six;
  background-color: hsl(314deg, 45%, 23%);
}
#section-grid .container {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
  padding: 24px;
  color: hsl(28deg, 100%, 97%);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
#section-grid .container img {
  position: absolute;
  top: 0;
  right: 0;
  padding: 24px;
}

#section-who-i-am {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 16px;
  margin-top: 68px;
}
#section-who-i-am img {
  max-width: 364px;
  padding: 22px;
}
#section-who-i-am .who-i-am-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}
#section-who-i-am .who-i-am-content button {
  background-color: hsl(7deg, 77%, 66%);
}
#section-who-i-am .who-i-am-content button:hover {
  background-color: hsl(28deg, 89%, 67%);
}

.carousel-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 84px;
  overflow-x: hidden;
}
.carousel-section .swiper-wrapper .swiper-slide {
  max-width: 72%;
}
.carousel-section .swiper-wrapper .swiper-slide img {
  border-radius: 10px;
}
.carousel-section .button-controls {
  display: flex;
  gap: 15px;
}
.carousel-section .button-controls button {
  padding: 25px;
  background-color: hsl(0deg, 0%, 1%);
}
.carousel-section .button-controls button:hover {
  cursor: pointer;
  background-color: hsl(252deg, 66%, 62%);
}

footer {
  background-color: hsl(0deg, 0%, 1%);
  margin: 100px 16px 16px 16px;
  padding: 49px 24px;
  border-radius: 8px;
  text-align: center;
}
footer h2 {
  color: hsl(28deg, 100%, 97%);
  margin-bottom: 24px;
}
footer p {
  color: hsl(28deg, 100%, 97%);
}
footer button {
  margin-top: 24px;
  background-color: hsl(7deg, 77%, 66%);
}
footer button:hover {
  cursor: pointer;
  background-color: hsl(28deg, 89%, 67%);
}

@media screen and (min-width: 768px) {
  header, .sub-footer {
    padding: 34px 40px 0 40px;
  }
  header svg, .sub-footer svg {
    transform: scale(1);
  }
  #hero {
    padding: 0 40px;
    margin: 64px 0;
  }
  #hero h1 {
    margin-bottom: 27px;
  }
  #hero p {
    padding: 0 58px;
  }
  #section-grid {
    grid-template-rows: repeat(3, 182px);
    grid-template-areas: "un un deux trois" "un un quatre quatre" "cinq cinq six six";
    padding: 0 46px;
  }
  #section-who-i-am {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 69px;
    padding: 0 40px;
    margin-top: 120px;
  }
  #section-who-i-am img {
    max-width: 364px;
    padding: 0px;
    margin-left: -85px;
  }
  #section-who-i-am .who-i-am-content {
    align-items: flex-start;
    text-align: left;
    max-width: 500px;
  }
  #section-who-i-am .who-i-am-content button {
    background-color: hsl(7deg, 77%, 66%);
  }
  #section-who-i-am .who-i-am-content button:hover {
    background-color: hsl(28deg, 89%, 67%);
  }
  footer {
    margin: 120px 40px 22px 40px;
    padding: 60px 75px;
  }
  footer h2 {
    margin-bottom: 26px;
  }
  footer button {
    margin-top: 26px;
  }
  .sub-footer {
    margin-bottom: 56px;
  }
}
@media screen and (min-width: 950px) {
  #section-who-i-am img {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1440px) {
  header, .sub-footer {
    padding: 34px 165px 0 165px;
    margin: 0 auto;
    max-width: 1440px;
  }
  #hero {
    padding: 0 344px;
    margin: 66px auto 80px auto;
  }
  #hero h1 {
    margin-bottom: 23px;
  }
  #hero p {
    padding: 0 11px;
    max-width: 730px;
    margin: 0 auto;
  }
  #section-grid {
    grid-template-rows: repeat(2, 182px);
    grid-template-areas: "un un deux trois cinq cinq" "un un quatre quatre six six";
    padding: 0 165px;
    max-width: 1440px;
    margin: 0 auto;
  }
  #section-who-i-am {
    gap: 125px;
    padding: 0 165px;
    margin-top: 136px;
  }
  #section-who-i-am img {
    max-width: 445px;
  }
  #section-who-i-am .who-i-am-content {
    align-items: flex-start;
    text-align: left;
    max-width: 540px;
    gap: 33px;
  }
  footer {
    margin: 88px auto 22px auto;
    max-width: 1110px;
    padding: 80px 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 182px;
  }
  footer h2 {
    margin-bottom: 25px;
  }
  footer p {
    max-width: 540px;
  }
  footer button {
    margin-top: 0;
  }
  .sub-footer {
    margin: 0 auto 64px auto;
  }
}/*# sourceMappingURL=style.css.map */